group Shared
    source https://api.nuget.org/v3/index.json

    nuget FSharp.Core

group Server
    source https://api.nuget.org/v3/index.json

    nuget LiteDB.FSharp
    nuget Suave
    nuget Fable.Remoting.Suave

group Client
    source https://api.nuget.org/v3/index.json

    nuget Fable.Elmish.Debugger
    nuget Fable.Elmish.React
    nuget Fable.Elmish.HMR
    nuget Fable.Core
    nuget Fable.Remoting.Client
    nuget Fable.React
